/* HEADER */
.header__theme-menu {
  justify-self: center;
  align-self: flex-start;
  margin: -1px 0 0;
}

.header__theme-menu-list {
  flex-direction: row;
  gap: 13px;
}

.header__title {
  margin-block-start: 0;
}

/* MAIN */

.main {
  padding: 60px var(--desktop-padding) 65px;
}

.main__section_first {
  column-gap: var(--mobile-padding);
}

.main__section_second .section-title {
  max-inline-size: 15em;
}

.main__section_second .section-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--desktop-padding);
}

.main__section_second .section-text {
  padding-block-end: 0;
}

.main__section_third {
  column-gap: var(--mobile-padding);
}


